body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#main-wrapper {
  width: 100%;
}

#messages-container, #users-container {
  float: left;
}

#messages-container {
  position: relative;
  width: 75%;
  height: 100vh;
}

#messages-box, #message-input-box {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 0 15px;
}

#messages-box {
  max-height: calc(100vh - 55px);
  overflow: scroll;
  bottom: 55px;
}

.msg-wrapper {
  display: table;
  table-layout: fixed;
  margin: 20px 0;
  word-break: break-all;
  word-wrap: break-word;
}

.msg-user-box, .msg {
  display: table-cell;
  vertical-align: top;
}

.msg-user-box {
}

.msg-user-icon {
  width: 50px;
  height: 50px;
  background: #FFF59D;
  border-radius: 5px;
}

.msg {
  width: 100%;
  padding: 0 15px;
  word-wrap: break-word;
}

#message-input-box {
  height: 55px;
  bottom: 0;
  background: #fff;
  text-align: center;
}

#message-input-box input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 40px 0 10px;
  background: url(../img/send.png) no-repeat;
  background-position: right 10px center;
  font-size: 13px;
  outline: none;
  border: 2px solid #ECEFF1;
  border-radius: 3px;
}

#users-container {
  width: 25%;
  height: 100vh;
  background: #263238;
}
