<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Long polling chat</title>
  <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
  <script src="{{ static_url('js/script.js') }}"></script>
</head>
<body>
  <input type="hidden" name="session" id="session" value="{{ session }}">
  <div id="main-wrapper">
    <div id="messages-container">
      <div id="messages-box">
      </div>
      <div id="message-input-box">
        <input type="text" placeholder="Press 'Enter' to send your message..." name="message-text" id="message-text">
      </div>
    </div>
    <div id="users-container">
    </div>
  </div>
</body>
</html>
